mat-dialog-actions{
    padding: 0%;
    margin-top: -2%;
}

mat-dialog-actions a{
    font-size: larger;
    font-weight: bold;
    transition: 0.9s;
}

mat-dialog-actions a:hover{
    color: #FF7F1B;
    transform: rotate(180deg);
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #FF7F1B;
}

:host ::ng-deep .mat-radio-checked .mat-radio-outer-circle , .mat-radio-outer-circle {
    border-color: #FF7F1B !important;
}
  
:host ::ng-deep .mat-radio-inner-circle{
    background-color: #FF7F1B !important;
}

.add-to-cart{
    background-color: #FF7F1B;
    color: white;
    width: fit-content;
    flex-grow: 10;
}

.price{
    margin-left: 5%;
}

.img-product-modal{
    width: 400px;
    height: 400px;
}

.img-product-modal img{
    border-radius: 10px 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3{
    font-family: cursive;
    text-align: center;
    font-weight: bold;
    color: #FF7F1B;
}

.description{
    font-family: cursive;
    font-weight: 500;
    color: #7D7D7D;
}

.mat-radio-group label{
    font-weight: bold;
    color: black;
}

.container-groups{
    margin: 0%;
    padding: 0%;
}

.item-group{
    margin: 0%;
    padding: 0%;
}

ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.form-check input:checked{
    background-color: red;
}

.modal-footer .container{
    display: flex;
    justify-content: flex-end;
    width: 10%;
}

.counter-product{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
}

.counter-product .btn-outline{
    color: #FF7F1B;
}

.counter-product .btn-outline:hover{
    background-color: #FF7F1B;
    color: white;
}
.total-counter{
    width: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0% 40% 0% 40%; 
    border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
