.add-to-cart{
    background-color: #FF7F1B;
    color: white;
    margin-left: 40%;
}

.img-product-modal{
    width: 400px;
    height: 400px;
}

.img-product-modal img{
    border-radius: 10px 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3{
    font-family: cursive;
    text-align: center;
    font-weight: bold;
    color: black;
}

.description{
    font-family: cursive;
    font-weight: 500;
    color: #7D7D7D;
}

.container-groups{
    margin: 0%;
    padding: 0%;
}

.item-group{
    margin: 0%;
    padding: 0%;
}

ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.form-check input:checked{
    background-color: red;
}

.modal-footer .container{
    display: flex;
    justify-content: flex-end;
}

.counter-product{
    display: flex;
    justify-content: flex-end;
    width: 40px;
    height: auto;
    display: flex;
}

.counter-product .btn-outline{
    color: #FF7F1B;
}

.counter-product .btn-outline:hover{
    background-color: #FF7F1B;
    color: white;
}
.total-counter{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0% 40% 0% 40%; 
}
