<mat-spinner *ngIf="!product"></mat-spinner>
<mat-dialog-actions align="end" *ngIf="product">
    <a mat-dialog-close>X</a>
</mat-dialog-actions>
<div class="modal-body">
    <div class="row"  *ngIf="product"> 
        <div class="col-6 img-product-modal">
            <img [src]="product.image" alt="">
        </div>
        <div class="col-6">
            <h3>{{product.name}}</h3>
            <p class="description">dad ,asmda.sd,mas.,dma.sm</p>
            <div class="container container-groups">
                <form [formGroup]="checkoutModifersForm">
                    <div formGroupName="modifiers">
                        <mat-radio-group [formControlName] = "i"
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group" *ngFor="let groups of product.groups; let i = index" >
                            <label for="">{{groups.name}}</label>
                            <mat-radio-button #prueba class="example-radio-button d-block"  *ngFor="let modifier of groups.modifiers" [value]="modifier">
                            {{modifier.name}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div  *ngIf="product" class="modal-footer">
    <div class="container">
        <div class="counter-product">
            <button *ngIf="quantity > 1" class="btn btn-outline" style="flex-grow: 1;"  (click)="reducequantity()">-</button>
            <input type="number" class="total-counter col-xs-2" style="flex-grow: 1;"  [value]="quantity">
            <button class="btn btn-outline" (click)="addquantity()" style="flex-grow: 1;">+</button>
            <button type="button" class="btn add-to-cart" [disabled]="checkoutModifersForm.invalid" (click)="addToCart(checkoutModifersForm.value.modifiers)">Agregar<span class="price">{{total*quantity | currency:'':'symbol':'4.0-1'}}</span>
            </button>
        </div>
    </div>
</div>
