.header-top-area{
    padding-bottom: 12px;
    background-color: #EEEEEE;
    color: #656565;
}

li{
    list-style: none;
}

.selectedCity {
    margin-left: 3%;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.dropdown::after{
    content: "|";
}

.log{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.sign-in::after{
    margin: 10px;
    content: "|";
}

.header-div-right{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: flex-end;
}

.sign-in, .login{
    color: #656565;
}

.sign-in:hover, .login:hover{
    color: orange;
    cursor: pointer;
}

.mat-form-field {
    height: auto;
}