<div class="header-top-area">
    <div class="custom-container-two">
        <div class="flex-container">
            <div class="selectedCity">
                <mat-form-field  style="font-size: 12px;">
                    <mat-label>Ciudad seleccionada</mat-label>
                    <mat-select [formControl]="selectedSucursale" (selectionChange)="changeSucursale($event.value)">
                        <mat-option *ngFor="let sucursale of sucursales" [value]="sucursale.id" >
                        {{sucursale.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="">
                <ul class="log">
                    <li>
                        <a class="sign-in"><i class="fa fa-user-o" [routerLink]="['auth/register']"></i> Registrarse</a>
                    </li>
                    <li class="mr-3">
                        <a class="login" [routerLink]="['auth/login']">Iniciar sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>