<div class="header-top-area">
    <div class="custom-container-two">
        <div class="flex-container">
            <div class="">
                <ul class="log">
                    <li>
                        <span> Ciudad seleccionada</span>
                    </li>
                    <li class="dropdown">
                        <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pereria
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" >Pereira</a>
                            <a class="dropdown-item" >Armenia</a>
                            <a class="dropdown-item" >Manizales</a>
                        </div>
                    </li>  
                </ul>
            </div>
            <div class="">
                <ul class="log">
                    <li>
                        <a class="sign-in"><i class="fa fa-user-o" [routerLink]="['auth/register']"></i> Registrarse</a>
                    </li>
                    <li class="mr-3">
                        <a class="login" [routerLink]="['auth/login']">Iniciar sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>