<div class="container offset-1 text-secondary">
    <div class="col-8">
        <div class="form-row">
            <div class="form-group col-12">
                <div *ngIf="isGetting" class="spinner-border text-primary" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>
        </div>
        <form *ngIf="!isGetting" [formGroup]="checkoutCityCreateForm" (ngSubmit)="createCity(checkoutCityCreateForm.value)" >
            <div  class="form-row">
                <div class="form-group col-8">
                    <label >Nombre Ciudad</label>
                    <input type="text" class="form-control" id="inputName" formControlName="name" >
                </div>
            </div>
            <button *ngIf="isLoading"class="btn btn-primary mr-2">
                <div class="spinner-border text-light" role="status"></div>
            </button>
            <button *ngIf="!isEdit && !isLoading" type="submit" [disabled]="checkoutCityCreateForm.invalid" class="btn btn-primary mr-2">Crear</button>
            <button *ngIf="isEdit && !isLoading" type="button" (click)="editCity(checkoutCityCreateForm.value)" class="btn btn-warning mr-2"><i class="fa fa-edit"></i>Actualizar</button>
            <button *ngIf="isEdit && !isLoading" type="button" (click)="deleteCity()" class="btn btn-danger mr-2"><i class="fa fa-trash"></i></button>
            <button *ngIf="!isLoading" type="button" [routerLink]="['/admin/sucursales/city']" class="btn btn-secondary mr-2">Cancelar</button>
        </form>
    </div>
</div>
