<div class="container ml-2">
    <div class="col-12">
      <section class="d-flex mb-2">
        <span class="ml-auto">
          <button class="btn btn-success" [routerLink]="['create']">Agregar</button>
        </span>
      </section>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Categoria</th>
            <th scope="col">Grupos</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="isLoading">
            <td colspan="5" class="text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </td>
          </tr>
          <tr *ngFor="let product of products; let i = index">
            <th scope="row">{{product.id}}</th>
            <td>
              <img [src]="product.image">
            </td>
            <td>{{product.name}}</td>
            <td>{{product.price | currency:'':'symbol':'4.0-1'}}</td>
            <td><button class="btn btn-info mr-1">{{product.category_name}}</button></td>
            <td>
                <div *ngFor="let group of products[i].groups" class="row">
                    <button class="btn m-1"  style="background-color: royalblue; color: white;">{{group.name}}</button>
                </div>
            </td>
            <td>
              <button class="btn btn btn-warning mr-2" (click)="editProduct(product.id)" ><i class="fa fa-edit"></i></button>
              <button class="btn btn-danger" (click)="deleteProduct(product.id)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>
  </div>
