<div *ngIf="divPay" class="div-payment">
  <h2>Seccion de Pago</h2>
  <h4>Valor a Pagar: {{total}}</h4>

</div>

<div *ngIf="!divPay">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event.target)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- image Column -->
    <ng-container matColumnDef="image" >
      <th mat-header-cell *matHeaderCellDef> Imagen </th>
      <td mat-cell *matCellDef="let element"> 
        <img [src]="element.image">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name" >
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- modifiers Column -->
    <ng-container matColumnDef="modifiers">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element"> 
        <div class="row" *ngFor="let modifier of element.modifiers">
          <span class="badge m-2">{{modifier.name}}</span>
        </div>
      </td>
    </ng-container>

    <!-- quantity Column -->
    <ng-container matColumnDef="quantity" >
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>



    <!-- total Column -->
    <ng-container matColumnDef="total" >
      <th mat-header-cell *matHeaderCellDef> Subtotal </th>
      <td mat-cell *matCellDef="let element"> {{element.total | currency:'':'symbol':'4.0-1'}} </td>
    </ng-container>
    

    <!-- actions Column -->
    <ng-container matColumnDef="actions" >
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element;let i = index">
        <a class="remove-product" (click)="deleteCartProduct(i)">X</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator  showFirstLastButtons></mat-paginator>
</div>

<mat-dialog-actions align="end">
  <button *ngIf="!divPay" mat-raised-button><span class="mr-2" (click)="goToPay()">Ordenar</span>{{total | currency:'':'symbol':'4.0-1'}}</button>
  <button *ngIf="divPay" mat-raised-button>Pagar</button>
</mat-dialog-actions>