.row{
    border-radius: 20px 20px 20px 20px;

}

.flex-container{
    background-color: #EEEEEE;
}

.row{
    width: 100%;
    border: white;
    
}

.titulo-categorias{
    width: 100%;
    padding: 1% 0% 1% 0%;
    background-color: #FF7F1B;
    border-radius: 20px 20px 20px 20px;
    margin-top: -14px;
    
}

.categorias{
    border-radius: 20px 20px 20px 20px;
    
}

h2{
    color: white;
    font-weight: bold;
    
}

.container-categorias{
    padding: 0%;
    margin-top: 10px;
    background-color: white;
    border: #EEEEEE solid 20px;
    border-left: #EEEEEE solid 30px;
    height: 480px;
    
}

.container-carousel{
    border-top: #EEEEEE solid 20px;
}

 ul{
    padding: 0%;
}
li{
    list-style: none;
    color: #7D7D7D;
    padding-top: 10px;
    transition: 0.5s;
}
i{
    margin-right: 20px;
}
i img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

a{
    color: #7D7D7D;
    font-weight: bold;
    text-decoration: none;
}
li:hover{
    color: #FF7F1B;
    margin-left: 20px;
}