<div class="flex-container">
    <div class="row">
        <div class="col-3 container-categorias">
            <div class="categorias">
                <div class="col-12 titulo-categorias">
                    <h2 class="text-center">Categorias</h2>
                </div>
                <div class="col-12 categorias-items">
                    <ul>
                        <li><i><img src="../../../../assets/icons/icons-categories/day-dish.JPG" alt=""></i><a href="">Menú del día</a></li>
                        <li><i><img src="../../../../assets/icons/icons-categories/gourmet.JPG" alt=""></i><a href="">Comidas Gourmet</a></li>
                        <li><i><img src="../../../../assets/icons/icons-categories/hamburger.JPG" alt=""></i><a href="">Comidas Rapidas</a></li>
                        <li><i><img src="../../../../assets/icons/icons-categories/bebidas.JPG" alt=""></i><a href="">Bebidas</a></li>
                        <li><i><img src="../../../../assets/icons/icons-categories/ice-cream.JPG" alt=""></i><a href="">Helados</a></li>
                        <li><i><img src="../../../../assets/icons/icons-categories/entradas.JPG" alt=""></i><a href="">Entradas</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9 container-carousel">
            <app-carousel-home style="height: auto;"></app-carousel-home>
        </div>
    </div>
</div>
