<div class="container ml-2">
  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Sucursal</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let city of cities">
          <th scope="row">{{city.id}}</th>
          <td>{{city.name}}</td>
          <td><button *ngIf="city.sucursale_name" class="btn btn-secondary mr-1">{{city.sucursale_name}}</button></td>
          <td>
            <button class="btn btn-warning mr-2" (click)="editCity(city.id)"><i class="fa fa-edit"></i></button>
            <button class="btn btn-danger" (click)="deleteCity(city.id)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>