<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Sucursal</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>City 1</td>
        <td><button class="btn-secondary" disabled>Sucursal 1</button></td>
        <td><button class="btn-warning"><i class="fa fa-edit"></i></button><button class="btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>City 2</td>
        <td><button class="btn-secondary" disabled>Sucursal 1</button></td>
        <td><button class="btn-warning"><i class="fa fa-edit"></i></button><button class="btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>City 2</td>
        <td><button class="btn-secondary" disabled>Sucursal 1</button></td>
        <td><button class="btn-warning"><i class="fa fa-edit"></i></button><button class="btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>City 3</td>
        <td><button class="btn-secondary" disabled>Sucursal 2</button></td>
        <td><button class="btn-warning"><i class="fa fa-edit"></i></button><button class="btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>City 4</td>
        <td><button class="btn-secondary" disabled>Sucursal 2</button></td>
        <td><button class="btn-warning"><i class="fa fa-edit"></i></button><button class="btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>City 5</td>
        <td><button class="btn-secondary" disabled>Sucursal 3</button></td>
        <td><button class="btn-warning"><i class="fa fa-edit"></i></button><button class="btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
    </tbody>
  </table>
