<div class="row general-product-container">
    <div class="col-2">
        <div class="list-categories">
            <app-sidebar-category (emittedCategory)="selectedCategory($event)"></app-sidebar-category>
        </div>
    </div>
    <div class="col-10">
        <div class="list-products row">

            <div class="col-5 card" *ngFor="let product of products">
                <div class="card-content">
                    <div class="card-img">
                        <img [src]="product.image" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h6 class="card-title">{{product.name}}</h6>
                        </div>
                        <div class="card-badge">
                            <span class="badge badge-success">{{product.category_name}}</span>
                        </div>
                        <div class="card-description">
                            <p  class="card-text">Un delicioso arroz con pollo, verduras frescas y un toque de picante al gusto.</p>
                        </div>
                        <div class="card-button">
                            <span class="price">{{product.price | currency:'':'symbol':'4.0-1'}}</span>
                            <a (click) = "addProduct(product.id)" class="btn btn-agregar">Agregar</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
