<div class="container ml-2">
  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Sucursal</th>
          <th scope="col">Ciudades</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sucursal of sucursales">
          <th scope="row">{{sucursal.id}}</th>
          <td>{{sucursal.name}}</td>
          <td><button class="btn btn btn-secondary mr-1">{{sucursal.city_name}}</button></td>
          <td>
            <button class="btn btn btn-warning mr-2" (click)="editSucursal(sucursal.id)"><i class="fa fa-edit"></i></button>
            <button class="btn btn-danger" (click)="deleteSucursal(sucursal.id)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
</div>