<input type="checkbox" id="check">
<label for="check">
    <i class="fa fa-bars" id="btn"></i>
    <i class="fa fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>My App</header>
    <ul>
        <li><a href=""><i class="fa fa-tachometer"></i> Dashboard</a></li>
        <li><a href=""><i class="fa fa-users "></i> Usuarios</a></li>
        <li><a href=""><i class="fa fa-building "></i> Sucursales</a></li>
        <li><a href=""><i class="fa fa-product-hunt"></i> Productos</a></li>
    </ul>
</div>
<section></section>