<div class="row">
    <div class="col-2 col-categories">
        <div class="container-categories" [routerLink]="['products']">
            <div class="image-category" >
                <img src="assets\icons\icons-categories\bebidas.JPG" class="rounded-circle">
            </div>
            <div class="name-category">
                <h6 >Menú del día</h6>
            </div>
        </div>
    </div>
    <div class="col-2 col-categories2" [routerLink]="['products']">
        <div class="container-categories">
            <div class="image-category">
                <img src="assets\icons\icons-categories\day-dish.JPG" class="rounded-circle">
            </div>
            <div class="name-category">
                <h6>Menú del día</h6>
            </div>
        </div>
    </div>
    <div class="col-2 col-categories" [routerLink]="['products']">
        <div class="container-categories">
            <div class="image-category">
                <img src="assets\icons\icons-categories\entradas.JPG" class="rounded-circle">
            </div>
            <div class="name-category">
                <h6>Menú del día</h6>
            </div>
        </div>
    </div>
    <div class="col-2 col-categories2" [routerLink]="['products']">
        <div class="container-categories">
            <div class="image-category">
                <img src="assets\icons\icons-categories\gourmet.JPG" class="rounded-circle">
            </div>
            <div class="name-category">
                <h6>Menú del día</h6>
            </div>
        </div>
    </div>
    <div class="col-2 col-categories2" [routerLink]="['products']">
        <div class="container-categories">
            <div class="image-category">
                <img src="assets\icons\icons-categories\hamburger.JPG" class="rounded-circle">
            </div>
            <div class="name-category">
                <h6>Menú del día</h6>
            </div>
        </div>
    </div>
    <div class="col-2 col-categories" [routerLink]="['products']">
        <div class="container-categories">
            <div class="image-category">
                <img src="assets\icons\icons-categories\ice-cream.JPG" class="rounded-circle">
            </div>
            <div class="name-category">
                <h6>Menú del día</h6>
            </div>
        </div>
    </div>
    <div class="col-2 col-categories2" [routerLink]="['products']">
        <div class="container-categories">
            <div class="image-category">
                <img src="assets\icons\icons-categories\hamburger.JPG" class="rounded-circle">
            </div>
            <div class="name-category">
                <h6>Menú del día</h6>
            </div>
        </div>
    </div>
</div>
