.row{
    padding: 0%;
    padding-top: 5%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-categories{
    margin-right: 5%;
    margin-bottom: 5%;
    animation-name: bubble-animation1;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.col-categories2{
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 1%;
    animation-name: bubble-animation2;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.container-categories{
    align-items: center;
    transition: 0.9s;
    
}

@keyframes bubble-animation1{
    0%{
        transform: translateY(-15px);
    }
}

@keyframes bubble-animation2{
    0%{
        transform: translateY(15px);
    }
    0%{
        transform: translateY(15px);
    }
}
.image-category img{
    height: 80px;
    width: 120px;
}

.image-category{
    display: flex;
    justify-content: center;
}
img{
    box-shadow: #7D7D7D 0px 0px 11px 2px;
}
.name-category{
    position: relative;
    background-color: #FF7F1B;
    color: white;
    border-radius: 25px 25px;
    text-align: center;
    padding: 0px;
    box-shadow: wheat 0px 2px 1px 2px;
    
}

.container-categories:hover {
    transform: scale(1.15);
    cursor: pointer;
}