<div class="modal-header">
    <h4 *ngIf="!isEdit" class="modal-title">Agregar Categoria</h4>
    <h4 *ngIf="isEdit" class="modal-title">Editar Categoria</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container offset-1 text-secondary">
        <div class="col-8">
            <form [formGroup]="checkoutCategoryCreateForm" (ngSubmit)="createCategory(checkoutCategoryCreateForm.value)" >
                <div class="form-row">
                    <div class="from-group col-8">
                        <mat-form-field>
                            <mat-label>Nombre Categoria</mat-label>
                            <input matInput autocomplete="off" formControlName="name">  
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-8">
                        <mat-label>Icono de la categoria</mat-label>
                        <input type="file" accept="image" autocomplete="off" (change)=changedFile($event)>  
                    </div>
                </div>
                <div *ngIf="file" class="col-12">
                    <img [src]="file" width="200px" height="200px" alt="">
                </div>
                <button *ngIf="!isEdit" type="submit" [disabled]="!file || checkoutCategoryCreateForm.invalid" class="btn btn-primary mr-2">Crear</button>
                <button *ngIf="isEdit" type="button" (click)="editCategory(checkoutCategoryCreateForm.value)" class="btn btn-warning mr-2"><i class="fa fa-edit"></i>Actualizar</button>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn" (click)="activeModal.close('Close click')">Cancelar</button>
</div>
